* {
  margin: 0;
  box-sizing: border-box;
}

#main_container {
    background-color: paleturquoise;
    width: 1000px;
    height: 500px;
    margin: 20px;
    padding: 50px;
    position: fixed;
    place-items: center;

}
      
.myDiv {   
    text-align: left;
    width:300px;
    height:100px;
    left:30px;
    font-family: Arial, sans-serif;
    place-items: center;
    bottom: 420px;
    position: fixed;

}
 
 
.myDiv2 {

    text-align: left;
    width:300px;
    height:50px;
    bottom:360px;
    left:30px;
    font-family: Arial, sans-serif;
    place-items: center;
    position: fixed;
    
}    

    
.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:200px;
    height:50px;
    bottom:150px;
    left:30px;
    place-items: center;
    position: fixed;
    
    
}

.button {background-color: #4CAF50;}
    
    

.laatikko {
    background-color: lightblue; 
    width: 700px;
    height: 380px;
    border: 2px solid rgb(24, 120, 150);
    padding: 15px;
    margin: 0px;
    left: 300px;
    bottom: 140px;
    font-family: Arial, sans-serif;
    place-items: center;
    position: fixed;


}

@media only screen and (max-width:700px)   {
  .myDiv {width: 100%;}
  .myDiv2 {width: 20%;}
  #main_container {width: 80%;}
  .laatikko {width: 30%;}
  

}


