*{
    margin:0; 
    padding:0;
}
#main_container {
    background-color: paleturquoise;
    width: 1000px;
    height: 400px;
    margin: 20px;
    padding: 50px;
    
    
  }

.myDiv {   
    text-align: left;
    position: absolute;
    width:300px;
    height:100px;
    left:30px;
    font-family: Arial, sans-serif;
    
  }
 
.myDiv2 {

    text-align: left;
    position: absolute;
    width:300px;
    height:50px;
    bottom:380px;
    left:30px;
    font-family: Arial, sans-serif;

} 

     
.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:fixed;
    width:200px;
    height:50px;
    bottom:150px;
    left:30px;
}

.button {background-color: #4CAF50;}
    
    
    
.laatikko {
    background-color: lightblue; 
    width: 700px;
    height: 400px;
    border: 2px solid rgb(24, 120, 150);
    padding: 15px;
    margin: 0px;
    left: 300px;
    bottom: 150px;
    position: fixed;
    font-family: Arial, sans-serif;

  }


